#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p build
	CGO_ENABLED=0 go build -trimpath \
		-buildvcs=false \
		-o build/restless \
		./cmd/restless

override_dh_auto_install:
	install -Dm755 build/restless \
		debian/restless/usr/bin/restless
