#!/usr/bin/make -f

export GO111MODULE=on
export GOPROXY=https://proxy.golang.org,direct
export GOSUMDB=sum.golang.org

%:
	dh $@

override_dh_auto_build:
	mkdir -p build
	CGO_ENABLED=0 GO111MODULE=on go build \
		-mod=mod \
		-trimpath \
		-buildvcs=false \
		-o build/restless \
		./cmd/restless
	$(MAKE) man

override_dh_auto_install:
	install -Dm755 build/restless \
		debian/restless/usr/bin/restless


override_dh_dwz:
	@echo "Skipping dwz for Go binaries"
