name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true

      - name: Build cross-platform
        run: |
          make build-all

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
