name: tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: true
      - name: Unit tests
        run: go test ./... -count=1
